@model MeetingNotes.Models.Models.Board

@{
    ViewData["Title"] = Model.Title;
    string[] fonts = new string[] { "Comic Neue", "Indie Flower", "Lato", "Patrick Hand", "Roboto Slab" };
    var Background = Model.Background == String.Empty ? "white" : Model.Background;
    }

@section Board
{    
    @Html.DropDownList("Fonts",
                        new SelectList(fonts),
                        "Calibri",
                        new { id = "font-selector", @class = "dropdown" })
<h2>
    @Html.DisplayFor(model => model.Title)
</h2>
}

@section Scripts
{
    <script type="text/javascript">
        const CreateNoteAction = '@Url.Action("Create","Notes")'
        const EditNoteSizeAction = '@Url.Action("EditSize","Notes")'
        const EditNotePositionAction = '@Url.Action("EditPosition","Notes")'
        const ChangeNoteTextAction = '@Url.Action("ChangeText","Notes")'
        let DeleteNoteAction = '@Url.Action("Delete","Notes")'
        let notesArray = @Html.Raw(Json.Serialize(Model.Notes))
        let boardBackground = '@Background'
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}