@model IEnumerable<MeetingNotes.Models.Models.Board>

@{
    ViewData["Title"] = "Index";
}

<h1 style="margin-top: 10px;">Boards</h1>

<p>
    <a asp-action="Create">Create New Board</a>
</p>
<table id="boards-table" class="display table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasPassword)
            </th>
            <th>
               Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>
                <td>
                    @if (item.HasPassword)
                    {
                        <i class="material-icons password-protected">lock</i>
                    }
                    else
                    {
                        <i class="material-icons not-password-protected">lock_open</i>
                    }
                </td>
                <td>
                    <a class="delete-board" asp-action="Edit" asp-route-id="@item.Id"><i class="material-icons">edit</i></a>

                    <a class="delete-board" asp-action="Delete" asp-route-id="@item.Id"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@*<div id="password-prompt">
    <p>Insert password for <span id="board-title"></span></p>
    <input type="password" />
    <button asp-action="Details" asp-route-id="">Go</button>
</div>*@

@section Scripts
{
    <script src="~/js/boards.js" asp-append-version="true"></script>
}